@import url(//font.elice.io/EliceDigitalBaeum.css);

* {
  font-family: "Elice Digital Baeum", sans-serif;
  margin: 0px;
}

body {
}

nav {
  background-color: lightgray;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 50px;
  padding: 0;
}

.n_home {
  /* display: inline-block; */
  float: left;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  /* background-color: purple; */
}

.n_resume {
  /* display: inline-block; */
  float: left;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  /* background-color: blue; */
}

.n_portfolio {
  /* display: inline-block; */
  float: left;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  /* background-color: purple; */
}

.n_blog {
  /* display: inline-block; */
  float: left;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  /* background-color: blue; */
}

.n_youtube {
  /* display: inline-block; */
  float: left;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  /* background-color: purple; */
}

.n_contact {
  /* display: inline-block; */
  float: right;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  /* background-color: purple; */
}

.s1 {
  /* display: inline-block; */
  float: left;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  width: 50%;
  height: 200px;
  text-align: left;
  line-height: 50px;
  background-color: orange;
}

.s2 {
  /* display: inline-block; */
  float: left;
  width: 50%;
  height: 200px;
  text-align: left;
  line-height: 50px;
  background-color: green;
}

.s3 {
  /* display: inline-block; */
  float: left;
  width: 50%;
  height: 200px;
  text-align: left;
  line-height: 50px;
  background-color: blue;
}

.s4 {
  /* display: inline-block; */
  float: left;
  width: 50%;
  height: 200px;
  text-align: left;
  line-height: 50px;
  background-color: purple;
}

footer {
  background-color: lightgray;
  color: white;
  padding: 10px 0 50px 0;
}

p {
  margin: 0 0 0 30px;
}

.nemo {
  list-style: square inside;
}

body {
  color: black;
  /* background-color: yellow; */
}
